@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul: #000077;
    --azul-oscuro: #0b0593;
    --negro: #192034;
    --especial: #0A0E1D;
}


* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--especial);
}

nav {
    background-color: var(--blanquito);
}

.card {
    border-radius: 24px;
    border: none;
    box-shadow:  0 2px 5px rgba(255, 255, 255, 0.3);
}

.form-control {
    border-radius: 24px;
}

.btn {
    border-radius: 18px;
    transition: 300ms;
    box-shadow:  0 10px 15px rgba(0, 0, 0,0.2);
}

.btn:hover {
    transform: scale(1.1);
}